.about {
  display: none;
  padding-top: 0;
  @media screen and (min-width: $desktop) {
    display: block;
  }

  .about__list {
    display: flex;
  }

  .about__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .about__img {
    display: block;
  }

  .about__label {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    text-transform: uppercase;
    color: $primary-white-color;
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  }
}
