.form {
  padding: 40px;
}

.form__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;

  color: $title-text-color;

  @media screen and (min-width: $desktop) {
    line-height: calc(23 / 20);
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 12px;
  padding-left: calc(12px + 18px + 12px);

  transition: border-color $transition-duration $timing-function;
  outline: none;

  &:focus-within {
    border-color: $accent-color;
  }

  @media screen and (max-width: $desktop - 1px) {
    width: 370px;
  }
}

.form__icon {
  position: absolute;
  left: 13px;
  bottom: 12px;
  fill: $title-text-color;

  .form__input:focus-visible + & {
    fill: $accent-color;
  }
}

.form__textarea {
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;

  transition: border-color $transition-duration $timing-function;

  &::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  &:focus-within {
    border-color: $accent-color;
  }

  @media screen and (max-width: $desktop - 1px) {
    width: 370px;
  }
}

.form__privacy-policy {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form__custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid $title-text-color;
  border-radius: 2px;
  transition: background-color $transition-duration $timing-function,
    border-color $transition-duration $timing-function;

  .form__checkbox:checked + & {
    background-color: $accent-color;
    border-color: $accent-color;
  }
}

.form__icon-check {
  fill: transparent;
  transition: fill $transition-duration $timing-function;

  .form__checkbox:checked + .form__custom-checkbox & {
    fill: $primary-white-color;
  }
}

.form__checkbox-label {
  font-size: 12px;
  line-height: calc(14 / 12);
  margin-left: auto;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: calc(24 / 14);
    margin-left: 7px;
  }
}

.form__checkbox-link {
  text-decoration-line: underline;
  color: $accent-color;
}

.form__button {
  padding: 10px 55px;
  display: flex;
  margin: 0 auto;
}
