.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-background-color;

  @media screen and (max-width: ($tablet - 1px)) {
    width: $mobile;
    margin: 0 auto;
  }

  & .container {
    @media screen and (max-width: ($tablet - 1px)) {
      text-align: center;
    }
  }
}
