.nav {
  display: flex;
  @media screen and (max-width: ($tablet - 1px)) {
    align-items: center;
  }
}

.logo--top {
  @media screen and (max-width: ($tablet - 1px)) {
    padding: 16px 0;
  }
}

.menu-toggle {
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: $primary-white-color;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .menu-toggle__icon,
  &:focus .menu-toggle__icon {
    fill: $accent-color;
  }

  .menu-toggle__icon {
    fill: $title-text-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $primary-white-color;
  z-index: 999;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform $transition-duration $timing-function,
    opacity $transition-duration $timing-function;
  opacity: 0;
  pointer-events: none;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;
}

.menu-toggle.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: $title-text-color;

  &:hover,
  &:focus,
  &--current {
    color: $accent-color;
  }
}

.menu-contacts {
  margin-top: auto;

  .menu-contacts__item {
    margin-bottom: 32px;
  }

  .menu-contacts__phone {
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 32);
    letter-spacing: 0.02em;
    color: $accent-color;
  }

  .menu-contacts__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    color: $primary-text-color;
  }
}

.menu-social {
  display: flex;
  margin-left: -10px;

  .menu-social__item {
    margin-left: 10px;

    &:not(:first-child) {
      border-left: 1px solid rgba(33, 33, 33, 0.2);
      padding-left: 10px;
    }
  }

  .menu-social__link {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
  }
}
