.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-background-color;
  min-width: 320px;

  @media screen and (min-width: $mobile) and (max-width: ($tablet - 1px)) {
    width: $mobile;
    margin: 0 auto;
  }

  & .container {
    @media screen and (max-width: ($tablet - 1px)) {
      text-align: center;
    }

    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: baseline;
    }

    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
