.logo--bottom {
  display: block;
  margin-bottom: 20px;
}

.contacts {
  margin-right: 70px;

  .contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }

  .contacts__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: $secondary-white-color;
    transition: color $transition-duration $timing-function;

    &--address {
      color: $primary-white-color;
    }

    &:focus,
    &:hover {
      outline: none;
      color: $accent-color;
    }
  }
}
