.filter {
  display: flex;
  padding-bottom: 50px;

  @media screen and (max-width: ($tablet - 1px)) {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -15px;
    margin-left: -8px;
  }

  .filter__item {
    @media screen and (max-width: ($tablet - 1px)) {
      margin-top: 15px;
      margin-left: 8px;
    }
  }

  .filter__button {
    padding: 6px 22px;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: $title-text-color;
    background-color: $secondary-background-color;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: color $transition-duration $timing-function,
      background-color $transition-duration $timing-function,
      box-shadow $transition-duration $timing-function;

    &:focus,
    &:hover,
    &--active {
      color: $primary-white-color;
      background-color: $accent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
