$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-background-color: #f5f4fa;
$footer-background-color: #2f303a;
$hero-background-color: #c4c4c4;
$logo-color: #000000;
$secondary-white-color: rgba(255, 255, 255, 0.6);
$header-border: #ececec;
$button-shadow: rgba(0, 0, 0, 0.15);
$button-hover: #188ce8;
$portfolio-border: #eeeeee;
$icon-color: #afb1b8;
$main-font-family: 'Roboto', sans-serif;
$logo-font-family: 'Raleway', sans-serif;
$gap: 30px;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
